{# templates/adverts/_advert.html.twig #}

<div class="col advert">
    <h3>{{ advert.title }}</h3>
    <p>{{ advert.content }}</p>
    <p>Category: {{ advert.category.name }}</p>
    <!-- Add edit, delete buttons or other interactions -->
</div>
