{% block body %}
    <div class="container">
        <h1>Adverts List</h1>
        <turbo-frame id="adverts-list">
            <div data-controller="react" data-react-component="Adverts" data-react-props="{{ advert | json_encode|e('html_attr') }}"></div>
        </turbo-frame>
    </div>
{% endblock %}
