
{% block body %}
    <div class="container">
        <h1>Advert Details</h1>
        <div id="advert-details">
            <!-- Display Advert details dynamically using JavaScript -->
        </div>
    </div>
{% endblock %}
